html { box-sizing: border-box; }

*,
*::before,
*::after { box-sizing: inherit; }

* { touch-action: none; }

button {
  padding: 4px 6px;
  margin: 20px;
  border-radius: 5px;
}

#container {
  border: 1px solid rgb(156, 156, 189);
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 1;
  max-height: calc(90vh - 70px);
  margin: auto;
}

.square { aspect-ratio: 1; }
